<section class="page_article" id="id-article">

   <article class="" >

        <p class="article_tag">Insomnia Tips</p>
        
<!-- etiqueta que se pone para buscar el contenido e identificarlo en buscadores? -->

         <h2 class="article_title">Looking Through A Window</h2>
        
        
                <p class="article_text">Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus semper sodales rutrum.</p>
        
        <!-- Boton -->
                <button class="btn-go" type="button">
                    Go!
                </button>
    <article>   
        
 </section>