<footer class="page_end">

    <div>
        <a href="#id-button" id="button_up">

        <img src="assets/images/ico-scroll-down.svg" alt="">

        </a>
    </div>

    <!-- seccion de contenido relacionado dentro de la pagina -->
<nav class="related-content">
        <ul class="related-content_list">
             <li class="related_content item">articles</li>
            <li class="related_content item">books</li>
            <li class="related_content item">events</li>
            <li class="related_content item">tips</li>
            
        </ul>
</nav>
<!-- seccion de enlaces a redes sociales -->
<nav class="rrss">
     <ul class= "rrss_list"> 
            <li class="rss_item"></li>
            <li class="rss_item"></li>
            <li class="rss_item" ></li>
     </ul>
</nav>

    <!-- seccion legal  -->

    <div class=copy_content>
         <p class= "copy_year"><small></small></p>

         <p class= "copy_claim"><small></small></p>
    </div>

</footer>