<section class="page_grid">

    <h2>3 Reasons To Purchase</h2>

    <ul class="menu_reason">

        <li class="menu_reason item1">
             <h3 class="menu_reason subtitle">Ut sed metus</h3>
                 <p>Lorem ipsum dolor sit amet, consecteur.</p>
        </li>

        <li class="menu_reason item2">
               <h3 class="menu_reason subtitle">Curabitur ac erat</h3>
                 <p>Mauris mattis urna quis lorem molestie.</p>
        </li>

        <li class="menu_reason item3">
                <h3 class="menu_reason subtitle">Morbi dictum</h3>
                 <p>Aliquam in dolor et dolor tincidunt.</p>
        </li>
    </ul>
<!-- boton -->
    <button type="button"> More Reasons</button>


</section>