
//COLOR

$color-Orangecitrus:#f26002;
$color-Whitesnow:#ffffff;
$color-Bluesky:#8ccbea;
$color-Blueceruleo:#0271bc;
$color-Bluenight:#304268;
$color-Blackebane:#000000;

//FONTS

$font-family-principal: 'Roboto', sans-serif;
$font-family-titles: 'Roboto Slab', serif;

//WEIGHT

$font-weigth-light:300;
$font-weigth-light:400;
$font-weigth-light:500;

