
//COLOR

$colorOrangecitrus:#f26002;
$colorWhitesnow:#ffffff;
$colorBluesky:#8ccbea;
$colorBlueceruleo:#0271bc;
$colorBluenight:#304268;
$colorBlackebane:#000000;
$colorLink:#000000;

//FONTS

$font-family-principal: 'Roboto', sans-serif;
$font-family-titles: 'Roboto Slab', serif;

//WEIGHT

$font-weigth-light:300;
$font-weigth-normal:400;
$font-weigth-bold:500;

